body{
    background-color: rgb(53, 53, 53);
}
.link{
    text-decoration: none;
    font-size: 40px;
    padding-bottom: 5px;
    color: rgb(255, 255, 255);
    background-color: #484545;
    width: 100px;
    display: block;
    font-style: oblique;
    width: auto;
}
.filmer{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    color: rgb(255, 255, 255);
    background-color: #484545;
    text-align: center;
}
h1{
    font-size: 60px;
    color: rgb(255, 255, 255);
    text-align: center;
}
p{
    text-align: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

@media (min-width: 980px) {

}
